[submodule "ExternalConfigs/ELispMachine"]
	path = ExternalConfigs/ELispMachine
	url = ../ELispMachine.git
[submodule "ExternalConfigs/NeovimConfig"]
	path = ExternalConfigs/NeovimConfig
	url = ../NeovimConfig.git
[submodule "ExternalConfigs/FennelMachine"]
	path = ExternalConfigs/FennelMachine
	url = ../FennelMachine.git
[submodule "ExternalConfigs/dots"]
	path = ExternalConfigs/dots
	url = ../dots.git
[submodule "ExternalConfigs/SKKJisho"]
	path = ExternalConfigs/SKKJisho
	url = https://github.com/skk-dev/dict.git
